.item-container {
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    margin: 20px;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
}

.item-image {
    max-width: 100%;
    height: auto;
}

.item-content {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.item-title {
    font-size: 1em;
    font-weight: 600;
}

.item-btn-container {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.item-btn {
    background-color: #29bb89;
    border: none;
    color: white;
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 0px 8px 0 0;
}
